<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <h3>{{web}}</h3>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, inventore nisi voluptatibus porro fuga animi beatae possimus illo suscipit eos optio soluta nesciunt ullam nostrum. Error, eos dolorem nesciunt culpa maiores fugiat nihil eius ex, id tempore expedita quasi facilis laboriosam repudiandae ipsam quis illo fugit quae cupiditate doloribus laudantium in beatae similique. Doloribus magni quos doloremque atque itaque excepturi. Maxime aliquam debitis nihil modi porro ad tempora eius, dolores cum nam ipsa alias! Quae hic aperiam facilis. Inventore a nobis labore explicabo assumenda nisi recusandae reiciendis ratione, voluptate incidunt unde neque consequatur ad sed. Enim velit quod eligendi architecto?
    </p>
</article>