<div class="container-detail" *ngIf="proyect">
  <div class="image-detail">
    <img src="{{url+'get-image/'+proyect.imagen}}" *ngIf="proyect.imagen" alt="">
  </div>
  <div class="data">
    <h1>{{proyect.name}}</h1>
    <h3>{{proyect.description}}</h3>
    <p>{{proyect.category}}</p>
    <p>{{proyect.year}}</p>
    <p>{{proyect.langs}}</p>
    <p class="buttoms-conf">
      <a [routerLink]="['/editar-proyecto', proyect._id]" class="buttom-edit">Editar</a>
      <a (click)="deleteProject(proyect._id)"  class="buttom-delete">Borrar</a>
    </p>
  </div>
</div>