<div class="container" *ngIf="project">
    <h2>{{title}}</h2>

        <div class="message success" *ngIf="status === 'success'">
            El proyecto se ha creado correctamente, puedes <a [routerLink]="['/notificaciones', save_project._id]">verlo aqui</a>
        </div>
        <div class="message failed" *ngIf="status === 'failed'">
            EL proyecto NO SE A PORDIDO CREAR
        </div>

    <form action="" #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
        <p>
            <label for="name">Nombre</label>
            <input type="text"  name="name" #name="ngModel" [(ngModel)]="project.name" required>
            <span  class="form-error" *ngIf="name.touched && !name.valid">
                El nombre es requerido
            </span>
        </p>
        <p>
            <label for="description">Descripcion</label>
            <textarea  name="description" #description="ngModel" [(ngModel)]="project.description" required></textarea>
            <span class="form-error"  *ngIf="description.touched && !description.valid">
                La descripcion es requerida
            </span>
        </p>
        <p>
            <label for="category">Categoria</label>
            <textarea  name="category" #category="ngModel" [(ngModel)]="project.category" required></textarea>
            <span class="form-error"  *ngIf="category.touched && !category.valid">
                La category es requerida
            </span>
        </p>
        <p>
            <label for="year">Año</label>
            <input type="number"  name="year" #year="ngModel" [(ngModel)]="project.year" required>
            <span class="form-error"  *ngIf="year.touched && !year.valid">
                El año es requerido
            </span>
        </p><p>
            <label for="langs">Lenguajes</label>
            <input type="text"  name="langs" #langs="ngModel" [(ngModel)]="project.langs" required>
            <span class="form-error"  *ngIf="langs.touched && !langs.valid">
                Los lenguajes son requeridos
            </span>
        </p>
        <p>
            <label for="imagen">Imagen</label>
            <span *ngIf="project.imagen">
                <img src="{{url+'get-image/'+project.imagen}}" *ngIf="project.imagen" alt="" width="100px">
                <br>
            </span>
            <input type="file"  name="imagen"  placeholder="Subir imagen" (change)="fileChangeEvent($event)">
        </p>
        <input type="submit" value="Enviar" [disabled]="!projectForm.form.valid">
    </form>
</div>  