body {

    background: url('../img/CIELO.jpg');
    background-attachment: fixed;
}

#logo {
    background: #6183ff;
}

#menu li:hover {
    background: #223578;

}

.buttom-more {
    background: #6183ff;

}
.buttom-more:hover {
    background: #223578;

}

form input[type="submit"] {

    background: #6183ff;
}

form input[type="submit"]:hover {
    background: #223578;
}
